.blogContainer {
  min-height: 100vh;
  width: 100%;
  background-image: url('/blog_create_mountain.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll; 
}

.blogContainerBlackBg {
  min-height: 100vh;    
  width: 100%;
  background-image: url('/blog_detail_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll; 
}

.overlay {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.874);
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}