.authContainer {
    background-image: url('/HomePageImage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.overlay {
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
    width: 100%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
}